.venv/
.uv-cache/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
tmp/
__marimo__/
*.pdf
!Xie-2020-Mixed dropwise-filmwise condensation.pdf
!Croce-2024-Optimization-of-dropwise-condensati.pdf
!Lee-2020-Improved humid air condensation heat.pdf
output/
.env
.uv-tools/
_site/
